* {
    box-sizing: border-box;
}
body {
    background-color: rgb(221, 209, 209);
    font-family:'Lato',Helvetica,Arial;
    font-size:15px;
    display:flex;
    margin:0;
    min-height:100vh;
}
.type {
    display:none;
}

header {
    position: fixed;
    left:0;
    top:0;
    right:0;
    height:60px;
    background-color:#cd907ef5;
    display:none;
    justify-content: flex-end;
    align-items: center;
}
.menu-openner {
    margin-right: 15px;
    font-size: 26px;
    background-color: rgb(221, 209, 209);
    padding: 5px 20px;
    border-radius: 5px;
}
.menu-openner span {
    margin-right:10px;
}
.menu-closer {
    width: 32px;
    height: 32px;
    display:none;
    font-size: 30px;
}

.close {
    width: 25px;
}

aside {
    background-color:#9ce6dc;
    width:0vw;
    font-family:'Hepta Slab', Helvetica, Arial;
    transition:all ease .2s;
    overflow-x:hidden;
}
aside.show {
    width:30vw;
}
.cart-area {
    padding:20px;
}
main {
    flex:1;
    padding:20px;
    text-align: center;
}
h1 {

}

h2 {
    font-family:'Hepta Slab', Helvetica, Arial;
}
.stuff-area {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.stuff-item {
    text-align: center;
    max-width:250px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0 auto 50px auto;
}

.stuff-item a {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}
.stuff-item-img {
    width:200px;
    height:200px;
    background-color:#EEE;
    border-radius:5px;
    box-shadow:0px 10px 50px rgba(225, 10, 10, 0.2);
}

.stuff-item-img:hover {
    width:200px;
    height:200px;
    background-color:#fff;
    border-radius:5px;
    box-shadow:0px 10px 50px rgb(238, 158, 61);
}
.stuff-item-img img {
    width:80%;
    height:auto;
}
.stuff-item-amount {
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:25px;
    background-color:#388bc5;
    text-align:center;
    color:#FFF;
    font-size:22px;
    cursor:pointer;
    margin-top:-25px;
    transition:all ease .2s;
}
.stuff-item a:hover .stuff-item-amount {
    background-color:#244c88;
}
.stuff-item-price {
    font-size:15px;
    color:#333;
    margin-top:5px;
}
.stuff-item-name {
    font-size:20px;
    font-weight: bold;
    color:#000;
    margin-top:5px;
}
.stuff-item-desc {
    font-size:13px;
    color:#555;
    margin-top:10px;
}

.stuff-window-area {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.5);
    display:none;
    transition: all ease 2s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}
.stuff-window-body {
    width:900px;
    background-color:#FFF;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    display:flex;
    margin:20px 0px;
}
.default-image {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.default-image-back {
    position:absolute;
    width:30px;
    height:30px;
    background-color:#000;
}
.default-image img {
    height:400px;
    width:auto;
}
.stuff-info {
    flex:1;
    font-family:'Hepta Slab', Helvetica, Arial;
    padding-bottom:50px;
}
.stuff-info h1 {
    margin-top:50px;
}
.stuff-info .stuff-info-desc {
    font-size:15px;
    color:#999;
    margin-top:10px;
    font-family:'Lato',Helvetica,Arial;
}
.stuff-info-sector {
    color:#CCC;
    text-transform: uppercase;
    font-size:14px;
    margin-top:30px;
    margin-bottom:10px;
}
.stuff-info-sizes {
    display:inline-flex;
    border-radius:10px;
    overflow:hidden;
}
.stuff-info-size {
    padding:10px 15px;
    color:#000;
    background-color:#EEE;
    font-size:13px;
    font-weight: bold;
    cursor:pointer;
}
.stuff-info-size:hover {
    background-color:#CCC;
}
.stuff-info-size.selected {
    background-color:#399ade;
    color:#FFF;
}
.stuff-info-size.selected span {
    color:#D6D6D6;
}
.stuff-info-size span {
    font-size:12px;
    color:#999;
    font-weight: normal;
}
.stuff-info-price {
    display:flex;
    align-items:center;
}
.stuff-info-actual-price {
    font-size:28px;
    margin-right:30px;
}
.stuff-info-amount-area {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}
.stuff-info-amount-area button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}
.stuff-info-amount {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}
.stuff-info-add-button {
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}
.stuff-info-add-button:hover {
    background-color:#32a345;
}
.stuff-info-cancel-button {
    display:inline-block;
    cursor:pointer;
}
.stuff-info-cancel-mobile-button {
    display:none;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin-bottom:30px;
}
.cart {
    margin-bottom:20px;
}
.cart-item {
    display:flex;
    align-items:center;
    margin:10px 0;
}
.cart-item img {
    width:40px;
    height:40px;
    margin-right:20px;
}
.cart-item-name {
    flex:1;
}
.cart-item-amount-area {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}
.cart-item-amount-area button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}
.cart-item-amout {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}
.cart-total-item {
    padding:15px 0;
    border-top:1px solid #79b9dd;
    color:#315970;
    display:flex;
    justify-content: space-between;
    font-size:15px;
}
.cart-total-item span:first-child {
    font-weight: bold;
}
.cart-total-item.default {
    font-size:20px;
    color:#000;
    font-weight: bold;
}
.cart-finalize {
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    cursor:pointer;
    text-align:center;
    margin-top:20px;
    border:2px solid #63f77c;
    transition: all ease .2s;
}
.cart-finalize:hover {
    background-color:#35af4a;
}

@media (max-width:1000px) {
    .stuff-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:840px) {
    body {
        flex-direction: column;
    }
    .stuff-area {
        display:block;
    }
    .stuff-item {
        max-width:100%;
    }
    header {
        display:flex;
    }
    main {
        padding-top:60px;
    }

    aside {
        width:auto;
        position:fixed;
        left:100vw;
        right:0;
        top:0;
        bottom:0;
        transition: all ease .2s;
    }
    aside.show {
        width:auto;
    }
    .cart-area {
        width:100vw;
    }

    .menu-closer {
        display:block;
    }

    .stuff-window-area {
        justify-content:flex-start;
        align-items: flex-start;
    }

    .stuff-window-body {
        width:100vw;
        display:block;
        padding:20px;
        border-radius:0;
        box-shadow:none;
        margin:0;
    }

    .default-image img {
        width: 75%;
        height: auto;
    }

    .stuff-info h1 {
        margin-top:20px;
    }

    .stuff-info-amount-area {
        height:60px;
    }
    .stuff-info-amount-area button {
        font-size:25px;
        padding:0px 25px;
    }
    .stuff-info-amount {
        line-height: 60px;
        font-size:20px;
    }
    .stuff-info-add-button {
        font-size:20px;
        display:block;
        text-align:center;
        margin:30px auto;
    }

    .stuff-info-cancel-button {
        display:none;
    }
    .stuff-info-cancel-mobile-button {
        display:block;
    }
}

